.inputGroup {
    background-color: rgb(240, 240, 240);
    margin-bottom: 20px;
    padding: 20px;
    min-width: 850px;
}

.inputGroup > div {
    padding: 10px;
    min-width: 350px;
}

.inputGroup button {
    height: 38px;
    width: 210px;
}

.inputGroup > div:nth-child(n) > div {
    min-width: 110px;
    margin-right: 10px;
    text-align: right;
}

.trCustom {
    cursor: pointer;
}

.dateDisplay {
    position: absolute;
    left: 130px;
    height: 36px;
    width: 120px;
    padding-left: 15px;
    background-color: white;
    display: flex;
    align-items: center;
}
