.functionsGroup {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 20px;
    position: relative;
    border: 1px solid rgb(220, 220, 220);
    margin: 5px 0 30px 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.functionsDate {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    align-items: center;
}
.functionsDate > div:nth-child(1),
.functionsDate > div:nth-child(2) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    white-space: nowrap;
    margin-right: 30px;
}

.functionsDate > div:nth-child(1) > div,
.functionsDate > div:nth-child(2) > div {
    margin-right: 5px;
}

.functionsDate > div:nth-child(3) {
    margin-right: 30px;
}

.dropdownCustom div {
    cursor: pointer;
}

.theadCustom th,
.trCustom td {
    white-space: nowrap;
}

.theadCustom th {
    padding: 0 10px;
    text-align: center;
}
