.inputGroup {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background-color: rgb(240, 240, 240);
    margin-bottom: 20px;
    padding: 20px;
    min-width: 850px;
}

.inputGroupZero,
.inputGroupOne {
    display: flex;
    flex-flow: row nowrap;
    max-width: 60%;
    padding: 10px 0;
    position: relative;
}

.inputGroupZero > input,
.inputGroupOne > input {
    flex: 1;
    height: 38px;
    min-width: 300px;
    position: relative;
}

.inputGroupZero > div,
.inputGroupOne > div {
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

.inputGroupTwo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 60%;
    padding: 10px 0;
    max-height: 58px;
    position: relative;
}

.inputGroupTwo > div {
    display: flex;
    flex-flow: row nowrap;
}
.inputGroupTwo > div > input {
    height: 38px;
    min-width: 150px;
}
.inputGroupTwo > div > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}
.inputGroupTwo > div > div {
    min-width: 100px;
}
.inputGroupTwo > div:nth-child(2) > div {
    justify-content: flex-end;
}

.inputGroupZero > button,
.inputGroupTwo > button {
    position: absolute;
    right: -150px;
    width: 120px;
}

.inputGroupThree {
    display: flex;
    align-items: center;
    padding: 10px 0;
    max-height: 58px;
    max-width: 60%;
}

.inputGroupThree > div {
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}
.inputGroupThree > input {
    height: 38px;
    flex: 1;
}

.phoneListPopup,
.nameListPopup {
    z-index: 1000;
    position: absolute;
    left: 110px;
    top: 50px;
}

.datalistItem {
    height: 40px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}

.datalistItem:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

.datalistItem > div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 120px);
}

.datalistItem > div:nth-child(1) {
    margin-right: 20px;
}

.thCustom {
    min-width: 105px;
}

.tdCustom {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.tdCustom > div {
    min-width: 30px;
}

.tdCustom > input {
    max-width: 110px;
    min-width: 110px;
    margin-left: 10px;
    margin-bottom: 5px;
}
